<!--@js(/calendar/app/js/jquery.min.js)-->
<!--@js(/calendar/app/js/utils/he.js)-->
<!--@js(/calendar/app/js/moment/moment.js)-->
<!--@js(/calendar/app/js/moment/moment-with-locales.js")-->
<!--@js(/calendar/app/js/fullcalendar/index.global.min.js)-->
<!--@js(/calendar/app/js/fullcalendar/locales-all.global.min.js)-->
<!--@js(/calendar/app/js/swiper/swiper-bundle.min.js)-->

<!--@js(/calendar/app/js/calendar.js)-->
<!--@js(/calendar/app/js/start.js)-->

<!--@js(/calendar/app/js/component_basic.js)-->
<!--@js(/calendar/app/js/component_date_view.js)-->
<!--@js(/calendar/app/js/component_img_view.js)-->
<!--@js(/calendar/app/js/component_prd_view.js)-->

<!--@js(/calendar/app/js/init.js)-->

<!--@import(/calendar/app/template/pc.html)-->
<!--@import(/calendar/app/template/mo.html)-->
<!--@import(/calendar/app/template/date_view/pc.html)-->
<!--@import(/calendar/app/template/date_view/mo.html)-->
<!--@import(/calendar/app/template/img_view/pc.html)-->
<!--@import(/calendar/app/template/img_view/mo.html)-->
<!--@import(/calendar/app/template/prd_view/pc.html)-->
<!--@import(/calendar/app/template/prd_view/mo.html)-->
